{% extends 'base.html' %}

{% block title %}Add Contact{% endblock %}

{% block content %}
{% if contacts %}
    <ul>
    {% for contact in contacts %}
        <li><a id="{{ contact.id }}" onClick="showDetails(this.id)">{{ contact.first_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    No contacts. 
{% endif %}

<div id='contactDetails'></div>

<script type="text/javascript">
  function showDetails(contactId){
    console.log(contactId);
    fetch(`http://127.0.0.1:8080/contacts/${contactId}`, {
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        },
    })
    .then(response => {
        // should 500 be processed?
        return response.json();
    })
    .then(data => {
        let contactDetails = document.getElementById('contactDetails');
        let fragment = document.createDocumentFragment();
        Object.keys(data).forEach(field => {
            let p = document.createElement('p');
            p.innerHTML = `${field} - ${data[field]}`;
            p.setAttribute("id", field);
            contactDetails.appendChild(p);
        });
        detailForm.appendChild(fragment);
    })
  }
</script>

{% endblock content %}
