{% extends 'base.html' %}

{% block title %}Add Contact{% endblock %}

{% block content %}

{% if messages %}
    <ul>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    </ul>
{% endif %}

{% include "contacts/include_form.html" %}



{% if contacts %}
    <ul>
    {% for contact in contacts %}
        <li><a id="{{ contact.id }}" onClick="showDetails(this.id)">{{ contact.first_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    No contacts. 
{% endif %}

<div id='contactDetails'></div>

<script type="text/javascript">
    var currentContact;
  function showDetails(contactId){
    currentContactId = contactId;
    fetch(`http://127.0.0.1:8080/contacts/${contactId}`, {
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        },
    })
    .then(response => {
        // should 500 be processed?
        return response.json();
    })
    .then(data => {
        currentContact = data;
        let contactDetails = document.getElementById('contactDetails');
        contactDetails.innerHTML = "";
        let fragment = document.createDocumentFragment();
        Object.keys(data).forEach(field => {
            if (data[field]) {
                let p = document.createElement('p');
                p.innerHTML = `${field} - ${data[field]}`;
                p.setAttribute("id", field);
                contactDetails.appendChild(p);
            }
        });
        let editContactButton = document.createElement('button');
        editContactButton.setAttribute("onclick", "createForm()");
        editContactButton.innerHTML = "Edit contact";
        contactDetails.appendChild(editContactButton);
    })
  }

  function createForm() {
    let contactDetails = document.getElementById('contactDetails');
    contactDetails.innerHTML = "";
    let contactEditForm = document.createElement('form');
    contactEditForm.setAttribute('method', 'post');
    contactEditForm.setAttribute('id', 'contactEditForm');
    contactEditForm.setAttribute('action', currentContact.id);
    Object.keys(currentContact).forEach(field => {
        if (field === "id") {
            return;
        }
        let fieldset = document.createElement('fieldset');
        fieldset.setAttribute("id", `${field}_fieldset`);
        contactEditForm.appendChild(fieldset);
        console.log(fieldset);

        let label = document.createElement('label');
        label.setAttribute("for", field);
        label.innerHTML = field;
        fieldset.appendChild(label);

        let input = document.createElement('input');
        let inputType;
        switch (field) {
            case "date_born":
                inputType = "date";
                break;
            case "phone_number":
                inputType = "tel";
                break;
            case "email":
                inputType = "email";
                break;
            default:
                inputType = "text";
        }
        input.setAttribute("type", inputType);
        input.setAttribute("value", currentContact[field]);
        input.setAttribute("name", field);
        input.setAttribute("id", field);
        fieldset.appendChild(input);
    });
    submitFormButton = document.createElement('button');
    submitFormButton.setAttribute('form', 'contactEditForm');
    submitFormButton.setAttribute('onclick', 'updateContact(currentContact.id)');
    submitFormButton.innerHTML = 'Update Contact';
    contactEditForm.appendChild(submitFormButton);
    contactDetails.appendChild(contactEditForm);
  }
</script>

{% endblock content %}
